extends layout

block append head
    link(rel='stylesheet', href='/stylesheets/style.css')

block append content
    section.map
        h1 Browse activities
        div.flex-containter
            div.form-wrapper
                h4 Refine search
                form(name ='user-input', method = 'post', action='/user-input')
                    | Location:
                    br
                    select#location(name = 'locationOption', onchange='customizeLocation(this)')
                        option(value='automatic') My location
                        option(value='customize') Choose different location
                    br
                    div.toogle-wrapper(id = "toogle-location")
                        br
                        | Street Adress:
                        br
                        input(type='text', name='street')
                        br
                        | Suburb:
                        br
                        input(type='text', name='suburb')
                        br
                        | Zip/Postal Code:
                        br
                        input(type='text', name='zip')
                        br
                        | Country:
                        br
                        input(type='text', name='country')
                        br
                    | Radius:
                    br
                    input(type='number', name='radius', value='50')
                    br
                    | Activity type:
                    br
                    select(name='activityType')
                        option(value='mountainbiking') Mountain biking
                        option(value='hiking') Hiking
                        option(value='camping') Camping
                        option(value='trailRunning') Trail Running
                        option(value='snowsports') Snow Sports
                        option(value='atv') ATV
                        option(value='horseriding') Horseback Riding

                
                    br
                    | Limit results to:
                    br
                    input(type='number', name='limit', value='20')
                    br
                    | Only show results with good weather
                    input(type='checkbox', name = 'goodWeather',onclick='showGoodWeatherSearch(this);')
                    br
                    div.toogle-wrapper(id = "toogle-weather")
                        | Days from now
                        select(name='weatherDay')
                            option(value='0') today
                            option(value='1') 1 day
                            option(value='2') 2 days
                            option(value='3') 3 days
                            option(value='4') 4 days
                            option(value='5') 5 days
                    div.toogle-wrapper
                        input(type='text', name='lat', id='lat')
                        input(type='text', name='lng', id='lng')

                    input(type='submit', value='Submit')





            div.map-wrapper
                h3 Inni map

                #map


        script(src = "javascripts/googleMapsFunc.js")
        script(src = "javascripts/find-activities.js")

        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDhSugVEeZX0fAPoffFbBz19bGPhR2swmY&callback=initMap', async='', defer='')


