extends layout

block append content
    section.container
        h1.about-title About
        div.about
            p This is an assignment for CAB432, this is a web mashup combining trailAPI, darskyAPI and google Places. Blallflanfkjen

            p
                b Student:
                |&nbsp;Julie Haga
            p
                b Student Number:
                |&nbsp;n10320008
            p
                b Unit Coordinator:
                |&nbsp;Associate Professor Jim Hogan
            p
                b QUT:
                | &nbsp;Semester 2