extends layout

block append head
    link(rel='stylesheet', href='/stylesheets/style.css')

block append content
    section.map
        h1 Browse activities
        div.flex-containter
            div.form-wrapper
                h3 Inni container

            div.map-wrapper
                h3 Inni map
                #map


        script(src = "javascripts/getLocation.js")
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDhSugVEeZX0fAPoffFbBz19bGPhR2swmY&callback=initMap', async='', defer='')
