extends layout

block append content
  section.home-page
    header
      h1 Find outdoor activities all over the world
      p CAB432 Assignment 1 by Julie Haga (n10320008)
      a(href='/find-activities') Find activity

    div.home-page-info
      article
        h2 MashUp using the following APIs:
        div.pure-g
          div.l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
            h3
              a(href='http://www.trailapi.com/') TrailApi
            p TrailAPI allows developers to get access to thousands of outdoor recreation points of interest including trails, campgrounds, and ski resorts. Developers can also pull descriptions into their mobile app or website. The Trail API uses Javascript requests and receives callbacks in JSON.
          div.l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
            h3
              a(href='https://developers.google.com/maps') Google Maps
            p This website takes advantage of the Google Maps Javascript API, which is a client-side API, to show your location. If a search is made another place in the world the webpage uses google maps API to convert this location to coordinates.
          div.l-box.pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
            h3
              a(href='https://darksky.net/dev/docs') DarkSky
            p The Dark Sky API allows developers to look up the weather anywhere on the globe, returning (where available):
              ul
                li Current weather conditions
                li Minute-by-minute forecasts out to one hour
                li Hour-by-hour and day-by-day forecasts out to seven days